# PyCharm
# http://www.jetbrains.com/pycharm/webhelp/project.html
.idea
.iml
.settings


*.mp3

*.pyc
*.swp

*.desktop
*.md~
*.py~

sphinx_doc/build
test.py
user.json

*.bak
*.vim-bookmarks

__pycache__
.ipynb_checkpoints
*.DS_Store
*.un~
*.desktop
app.command
*.log

cookie*
.coverage

# user data
data/*.json
cache/*.json

# test image
src/*.png
src/*.jpg
src/widgets/*.png
src/widgets/*.jpg
