[MASTER]
disable=
    unknown-option-value,  # some options are only valid in latest pylint

    missing-docstring,
    too-few-public-methods,
    no-name-in-module,  # seems not working for PyQt5
    too-many-instance-attributes,  # qt widget class can has many attributes
    unnecessary-lambda,  # pylint is a little bit silly
    unused-argument,  # not so critical
    fixme,
    invalid-name,
    logging-fstring-interpolation,
    bare-except,
    import-outside-toplevel,  # too verbose

    # Let flake8 check import-related code.
    wrong-import-position,
    unused-import,
    cyclic-import,
    broad-exception-caught,

    # Enable following in the future.

    no-else-raise,
    bad-mcs-classmethod-argument,
    no-else-return
