#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=NetEaseMusic
Comment=NetEaseMusic Launcher
Exec=/media/psf/Home/code/NetEaseMusic/src/main.py
Icon=/media/psf/Home/code/NetEaseMusic/icons/format.png
Categories=AudioVideo;Audio;Player;Qt;
Terminal=false
StartupNotify=true

