html, body {
    width: 100%;
    overflow-x: hidden;
    padding: 10px 0px 10px 10px;
    font-size: 14px;
    -webkit-user-select: none !important;
}


/*
* 主要对各个标签之间的距离进行控制
* 另外，针对不同的主题，主题颜色会不一样
* 颜色的设置都统一theme文件夹中的css来控制，其他css控制间距和布局
*/

table {
    font-size: 13px;
}

.cursor_pointer:hover {
    cursor: pointer;
}

.mv_flag {
    margin-right: 10px;
    font-size: 6px;
    color: #CCC;
    background-color: #993333;
    width: 20px;
    height: 10px;
    display: inline-block;
}

/* scrollbar 样式控制 */
::-webkit-scrollbar
{
    width: 6px;  /* for vertical scrollbars */
    height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
}

::-webkit-scrollbar-thumb
{
    border-radius: 3px;
}

/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */

/* 小屏幕（平板，大于等于 768px） */

/* 中等屏幕（桌面显示器，大于等于 992px） */

/* 大屏幕（大桌面显示器，大于等于 1200px） */

