button {
    border: 0;
    margin: 0;
}

tr,  td {
    border: 0px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
    font-size: 12px;
    padding: 8px 5px !important;
}


th {
    color: #993333;
    font-size: 14px;
    font-weight: normal !important;
    border-bottom: 1px solid #993333 !important;
}

.song:hover {
    background-color: #333;
}

.star {
    display: none;
}


.alternate {
    background-color: #272727;
}

.section {
    display: block;
}

#name {
    font-size: 20px;
}

.kind_tag {
    font-size: 16px;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #993333;
    color: #CCC;
}

.h_spacer {
    width: 100%;
    height: 20px;
}

#count {
}

.play_all {
    color: #CCCCCC;
    background-color: #993333;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.play_all:hover {
    cursor: pointer !important;
    transform: scale(1.1, 1.1)
}

.info_tag {
    font-size: 12px;
    margin-right: 10px;
    padding: 3px 8px;
    border-radius: 10px;
    background-color: #993333;
    color: #CCC;
}

@media screen and (max-width: 768px) {
    .info_layout {
        margin-top: 10px;
        padding-bottom: 22%;
    }

    .album {
        float: left;
        width: 20%;
        padding: 0px;
    }

    .desc {
        padding-left: 50px;
        float: right;
        width: 80%;
    }
}
@media screen and (min-width: 768px) {
    .album {
        width: 100%;
    }
    .desc {
        padding-top: 50px;
    }

    .col-sm-9 {
        display: block;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}


.star {
    background-image: url(../img/heart_hover.png);
    width: 20px;
    height: 20px;
    background-size: cover;
}
