<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="public/playlist.css">
        <link rel="stylesheet" href="public/base.css">
        <link rel="stylesheet" href="public/theme/base_default.css">
        <script src="js/jquery.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/bootstrap.min.js" ></script>
        <script src="js/common.js"></script>
    </head>
    <body>
     <div class="container-fluid">
        <div class="row" ng-app="app_table" ng-controller="SongTable.initData" id="songs_table">
            <div class="col-sm-3">
                <div class="info_layout">
                    <img alt="专辑图片" id="coverImg" class="album" ng-attr-src="{{ coverImgUrl }}" />
                    <div class="desc">
                        <div class="section">
                            <span class="kind_tag">歌单</span><span id="name">{{ name }}</span>
                        </div>
                        <div class="h_spacer"></div>
                        <div class="section">
                            <span class="info_tag">歌曲数</span><span id="count">{{ count }}</span>
                        </div>
                        <div class="h_spacer"></div>
                        <div class="section">
                            <button class="play_all" id="play_all">播放全部</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>歌曲名</th>
                            <th>歌手</th>
                            <th>专辑</th>
                            <th>时长</th>
                        </tr>

                    </thead>
                    <tbody id="tracks">
                        <tr id="{{ song.id }}" class="song" ng-controller="SongTable.fillSongsTable" ng-repeat="song in songs" ng-dblclick="window.play_music(song.id)" ng-click="window.play_music(song.id)" song>
                            <td>
                                <div class="star"></div>
                            </td>
                            <td><Button id="{{ song.mvid }}" class="mv_flag" mvbtn>MV</Button>{{ song.name }}</td>
                            <td><span class="cursor_pointer" ng-init="accessArtists(song.artists)" ng-attr-id="{{ artistId }}" onclick="searchArtist(this)"> {{ artistName }}</span></td>
                            <td><span class="cursor_pointer" onclick="searchAlbum(this)" ng-attr-id="{{ song.album.id }}">{{ song.album.name }}</span></td>
                            <td ng-init="accessSongDuration(song.duration)">{{ duration }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </body>
</html>