.vcenter-wrapper {
  text-align: center;
  display: block;
}

#play_all_ids {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  display: inline-block;
  margin: 10px 0;
  transition: 0.5s;
  color: #993333;
  line-height: 80px;
  font-size: 15px;
  color: #CCC;
  background: #993333;
}

#play_all_ids:hover {
  cursor: pointer;
}
